#residences {

}
.residences-content {

}

.residence-title-container {
    align-items: center;
    background: #283e51;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 2.5rem;
    padding: .5rem;
    width: 20vh;
}
.residence-title-label {
    text-align: center;
    font-size: 18px;
}

.AiOutlinePlusCircle {
    color: #283e51;
    cursor: pointer;
    float: right;
    margin: 1rem;
}

.residence-area-name {
    color: #000000;
    font-size: 18px;
    letter-spacing: 15px;
    margin-top: 15vh;
    text-align:center;
    text-transform: uppercase;
}

/* Residences cards */
.residences-cards-container {
    align-items: center;
    justify-content:space-around;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    margin-top: 3rem;
}
.residences-card {
    border: 2px solid #000000;
    background: transparent;
    color: #000000;
    margin-bottom: 3rem;
    margin-top: 3rem;
    height: auto;
    width: 20rem;
}
.residences-card-img {
    background-image: url("../../../../Assets/app_building.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    height: 11rem;
    width: 100%;
}
.residences-card-details {
    align-items: center;
}
.residences-card-location {
    font-size: 20px;
    text-align: center;
    margin-top: 0.5rem;
}
.residences-card-type {
    font-size: 20px;
    margin-top: 1rem;
    text-align: center;
}
.residences-card-tenant-units {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.residences-card-total-units {
    display: flex;
}
.AiTwotoneHome {
    color: #000000;
}
.residences-card-price {
    font-size: 15px;
    margin-top: 1rem;
    margin-left: 2rem;
}
.residences-card-view a { 
    text-decoration: none;
    color: #000000;
}
.residences-card-view {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    border-top: 2px solid #000000;
    background: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    width: 100%;
}