#tenantPortal {
    color: #ffffff;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
.tenantPortal-content {
    background: linear-gradient(45deg, #3494E6, #000C40);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    position: fixed;
    text-transform: capitalize;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.tenantPortal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.tenantPortal-greeting {
    align-items: center;
    display: flex;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 2rem;
}
.tenantPortal-notification-logout {
    align-items: center;
    display: flex;
    margin: 2rem;
}
.RiNotification2Fill {
    align-items: center;
    color: #4ca1af;
    display: flex;
    margin-right: 2rem;
}
.tenantPortal-logout {
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: underline;
}
.tenantPortal-logout a{
    text-decoration: none;
    color: #ed1c24;
}

/* Balance */
.balance-payBtn {
    align-items: center;
    justify-content: center;
    display: block;
    margin-top: 8vh
}
.balance-container {
    display: flex;
    justify-content: center;
}
.balance-label {
    letter-spacing: 1px;
    font-size: 18px;
}
.balance {
    font-size: 48px
}
.balance-pay-btn {
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    
    border: 2px solid #4ca1af;
    border-radius: 20px;

    text-transform: capitalize;
    letter-spacing: 5px;

    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    
    margin: 5vh auto auto auto;
    left: 0;
    right: 0;

    height: 2.5rem;
    width: 25vh
}

.upload-statements-history {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10vh auto auto auto;
    width: 50%;
}
.tenant-icon-el-container {
    cursor: pointer;
}
.tenant-icon-el {
    color: #ffffff;
    align-items: center;
    border: 2px solid #4ca1af;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin: 2rem auto auto auto;
    padding: 1rem;
}
.tenant-icon-label {
    color: #ffffff;
    letter-spacing: 1px;
    margin-top: .5rem;
}


@media only screen and (max-width: 900px) {
    #tenantPortal {
        color: #fff;
        height: auto;
        width: 100vh;
        position: relative;
        overflow-x: hidden;
    }
}