#contact-agent {
    background: rgba(155, 155, 158);
    position: fixed;
    right:0;
    top: 4rem;
    height: 100vh;
    width: 100%;
    z-index: 80;
}

.contact-agent-content {
    position: relative;
    z-index: 9;
}
.contact-agent-content-title {
    color: #fff;
    font-size: 18px;
    letter-spacing: 15px;
    margin-top: 8vh;
    text-align:center;
    text-transform: uppercase;
}

.ImCancelCircle {
    cursor: pointer;
    color: #000000;
    float: left;
    margin: 10px;
    top: 0;
}