#navigationBar {
    background: rgba(155, 155, 158, 0.3);
    display: flex;
    background: 0.5;
    height: 10rem;
    width: 100%;
    margin-top: -4rem;
    position: fixed;
    z-index: 11;
}

.navigation-list-container {
    align-items: center;
    display: flex;
    font: bold 14px/1.4 "Open Sans", arial, sans-serif;
    justify-content: center;
    list-style: none;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}
.navigation-list-element a{
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    font-size: 14px;
    padding: 15px 20px;
    margin-top: 4rem;
    position: relative;
}
.navigation-list-element a:hover {
    color: #eae0c8;
}
.navigation-list-element-active a{
    color: #eae0c8;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    font-size: 14px;
    padding: 15px 20px;
    margin-top: 4rem;
    position: relative;
}

@media only screen and (max-width: 500px) {
    
    .AiOutlineMenu {
        background-color: transparent;
        color: #ffffff;
        right:0;
        position: fixed;
        padding-bottom: 10px;
        padding-top: 10px;
        z-index: 1001;
    }

    #toggled-navigation{
        background-color: #000;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1000;
    }
    .AiOutlineRight {
        color: white; 
        margin: 20;
    }
    .toggled-nav-list {
        display: block;
        width: 100%;
    }
    .toggled-nav-list-item {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        list-style: none;
        padding: 20px 0 20px 0;
        position: relative;
        text-align: center;
        width: 100%;
    }
    .toggled-nav-list-item a{
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
    }
}