
.search-tenant {
    border: 1px solid #283e51;
    border-radius: 50px;
    font-size: 18px;
    padding: 1rem;
    height: 2rem;
    width: 20rem;
}

.tenants-unit-title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.tenant-cards-list {
    align-items: center;
    justify-content:space-around;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    margin-top: 0rem;
}

.tenant-card {
    align-items: center;
    background-color: #283e51;
    border-radius: 15px;
    color: #ffffff;
    justify-content: center;
    height: auto;
    margin-bottom: 2rem;
    padding: 2rem;
    width: auto;
}

.tenant-card-unit-number {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: .5rem auto auto auto;
}
.tenant-card-el {
    text-align: center;
    font-size: 18px;

    letter-spacing: 2px;
    margin: .5rem auto auto auto;
    
}

.tenant-card-btn {
    display: flex;
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 1rem auto 1rem auto;
    padding: .5rem;
    text-transform: capitalize;
}
.tenant-card-btn a{
    color: #000000;
    text-decoration: none;
}
.tenant-card-btn a:hover {
    color: #ccc;
}