#Admin-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Admin-right-window-container {
    align-items: center;
    display: flex;
    margin: 2rem;
}
.Admin-logout {
    background: transparent;
    border: 0; 
    font-size: 16px;   
    cursor: pointer;
    color: #ed1c24;
    letter-spacing: 1px;
    text-decoration: underline;
}
