.admin-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.admin-greeting {
    align-items: center;
    display: flex;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 2rem;
}
.admin-greeting a{
    color: #000000;
    text-decoration: underline;
}

.admin-notification-logout {
    align-items: center;
    display: flex;
    margin: 2rem;
}
.admin-logout {
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: underline;
}
.admin-logout a{
    text-decoration: none;
    color: #ed1c24;
}