.admin-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.admin-greeting {
    align-items: center;
    display: flex;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 2rem;
}
.admin-greeting a{
    color: #000000;
    text-decoration: underline;
}

/* Notification */
.showNotification-dropdown {
    background-color: #cccccc;
    overflow-y: auto;
    position: absolute;
    max-height: 50vh;
    margin-right:0.5rem;
    right:0;
    width: 50vh;
}
.showNotification-dropdown-el {
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    font-size: 16px;
    height: auto;
    width: 100%;
} 
.showNotification-dropdown-el:hover {
    background-color: #283e51;
    color: #eae0c8;
}
.showNotification-dropdown-title-ur {
    font-size: 16px;
    font-weight: bold; 
    text-align: center;
    margin: .5rem auto .5rem auto;
}
.showNotification-dropdown-title {
    font-size: 16px;
    text-align: center;
    margin: .5rem auto .5rem auto;
}
.showNotification-dropdown-msg {
    font-size: 16px;
    font-weight: normal; 
    text-align: center;
}

.admin-notification-logout {
    align-items: center;
    display: flex;
    margin: 2rem;
}
.admin-logout {
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: underline;
}
.admin-logout a{
    text-decoration: none;
    color: #ed1c24;
}