#Login {
    color: #fff;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.Login-content {
    display: flex;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.Login-card-container {
    background: linear-gradient(45deg, #1b1b1b, #3b3c36);
    border: 1px solid #fff;
    justify-content: center;
    margin: auto;
    bottom: 0;
    top: 0;
    height: 70vh;
    width: 70vh;
}

.Login-card-header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    width: 100%;
}
.Login-card-header-title-active {
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.Login-card-header-title {
    background-color: #3b3c36;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}


.Login-input {
    border: 2px solid #004040;
    border-radius: 15px;
    height: 2.5rem;
    display: flex;
    font-size: 16px;
    outline: 0;
    margin: 2rem auto auto auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 60%;
}
.Login-input-red {
    border: 1.5px solid red;
    border-radius: 15px;
    height: 2.5rem;
    display: flex;
    font-size: 16px;
    outline: 0;
    margin: 2rem auto auto auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 60%;
}
.Login-title {
    font-size: 28px;
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px
}
.Login-show-password {
    align-items: center;
    display: flex;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 5rem;
}
.Login-show-password input {
    align-items: center;
    display: flex;
}

.Login-btn {
    align-items: center;
    background-color: #004040;
    border: 0;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    height: 3rem;
    justify-content: center;
    letter-spacing: 5px;
    margin: 1rem auto auto auto;
    text-decoration: none;
    width: 7rem;
}
.Login-btn:hover {
    background-color: #004242;
}

.Login-centeredText {
    cursor: context-menu;
    margin-top: 1rem;
    text-align: center;
}
.Login-centeredText:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 900px) {
    #Login {
        color: #fff;
        height: auto;
        width: 100vh;
        position: relative;
        overflow-x: hidden;
    }
}